#!/bin/bash

#############################
# i3 desktop settings
#############################
if [[ "$XDG_CURRENT_DESKTOP" == "i3" || "$DESKTOP_SESSION" == "/usr/share/xsessions/awesome" ]]; then
    export QT_QPA_PLATFORMTHEME="qt5ct"
fi

#############################
# fcitx envrioment settings
#############################
export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
export XMODIFIERS=@im=fcitx5
export VDPAU_NVIDIA_NO_OVERLAY=1

#############################
# include all files in .xprofile.d
#############################
if [[ -d $HOME/.xprofile.d/ ]]; then
    for i in $HOME/.xprofile.d/*; do
        if [[ -e $i ]]; then
            source "$i"
        fi
    done
fi

