! basic configuration
Xft.dpi:        192
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   true
Xft.lcdfilter:  lcddefault

! urxvt config
#include ".config/urxvt/config"
